header#pageheader, footer#pagefooter, div.related, div.document {
  max-width: 90%;
}

img {
  max-width: 100%;
}

table.docutils {
  width: 100%;
}

/* Have page match browser width, vs fixed size */
.wy-nav-content {
  max-width: calc(100% - 50px) !important;
}

/* Add word wrap to table cell contents */
.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: inherit !important;
}

/* Fix lists not being.. lists */
.document section ul,
.document .toctree-wrapper ul,
.wy-plain-list-disc,
article ul {
 list-style:disc;
 line-height:24px;
 margin-bottom:24px
}
.document section ul li,
.document .toctree-wrapper ul li,
.wy-plain-list-disc li,
article ul li {
 list-style:disc;
 margin-left:24px
}
.document section ul li p,
.document section ul li p:last-child,
.document section ul li ul,
.document .toctree-wrapper ul li p,
.document .toctree-wrapper ul li p:last-child,
.document .toctree-wrapper ul li ul,
.wy-plain-list-disc li p,
.wy-plain-list-disc li p:last-child,
.wy-plain-list-disc li ul,
article ul li p,
article ul li p:last-child,
article ul li ul {
 margin-bottom:0
}
.document section ul li li,
.document .toctree-wrapper ul li li,
.wy-plain-list-disc li li,
article ul li li {
 list-style:circle
}
.document section ul li li li,
.document .toctree-wrapper ul li li li,
.wy-plain-list-disc li li li,
article ul li li li {
 list-style:square
}
.document section ul li ol li,
.document .toctree-wrapper ul li ol li,
.wy-plain-list-disc li ol li,
article ul li ol li {
 list-style:decimal
}
.document section ol,
.document ol.arabic,
.wy-plain-list-decimal,
article ol {
 list-style:decimal;
 line-height:24px;
 margin-bottom:24px
}
.document section ol li,
.document ol.arabic li,
.wy-plain-list-decimal li,
article ol li {
 list-style:decimal;
 margin-left:24px
}
.document section ol li p:last-child,
.document section ol li ul,
.document ol.arabic li p:last-child,
.document ol.arabic li ul,
.wy-plain-list-decimal li p:last-child,
.wy-plain-list-decimal li ul,
article ol li p:last-child,
article ol li ul {
 margin-bottom:0
}
.document section ol li ul li,
.document ol.arabic li ul li,
.wy-plain-list-decimal li ul li,
article ol li ul li {
 list-style:disc
}


/*

These things are redundant--

table.docutils td, table.docutils th {
  border-top: 1px solid #aaa;
}

tr:only-child td, tr:only-child th {
  border: none;
}
*/


/*

This isn't being used -- without appending "!important" they're not being called.

code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  background-color: #eee;
  color: #333;
  padding: 3px;
  font-size: 90%;
}
*/
